[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = False
retry_files_enabled = False
interpreter_python = /usr/bin/python3
stdout_callback = default
# community.aws / amazon.aws are installed in the user collections path.
